{% extends 'website/base.html' %}
{% load static %}
{% block title %}
    	<title>Home</title>
    {% endblock title %}

 {% block content %}

   <section>
            <div class="block">
                <div style="background-image: url(static/images/hosi.png);" class="fixed-bg"></div>
                <div class="restaurant-searching text-center">
                    <div class="restaurant-searching-inner">
                        <h2 itemprop="headline">Find a Hospital that Best suits your needs</h2>
                        <form class="restaurant-search-form brd-rd2">
                            <div class="row mrg10">

                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                    <div class="input-field brd-rd2"><input class="brd-rd2" type="text" placeholder="County"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                    <div class="input-field brd-rd2"><input class="brd-rd2" type="text" placeholder="Constituency"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                    <div class="input-field brd-rd2"><input class="brd-rd2" type="text" placeholder="Specialization"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                    <button class="btn btn-primary brd-rd2" type="submit">SEARCH</button>
                                </div>
                            </div>
                        </form>

                        </div>

                </div><!-- Restaurant Searching -->
            </div>
        </section>

        <!--fun facts-->
        <section>
            <div class="container-fluid fun-facts">
                  <div style="background-image: url(static/images/blockqoute-bg.jpg); " class="fixed-bg"></div>
            <div class="container ">
        <div class="funfacts">
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                      <i class="brd-rd50"><img src="{% static 'images/hospital.png' %}" alt="fact-icon2" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span  class="counter">137</span></strong>
                                            <h5>Hospitals</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="{% static 'images/people.png' %}" alt="fact-icon2" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span id="people-counter" class="counter">158</span></strong>
                                            <h5>People Served</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="{% static 'images/happy.png' %}" alt="fact-icon2" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span id="happy-counter" class="counter">659</span>K</strong>
                                            <h5>Happy Service</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="{% static 'images/users.png' %}" alt="fact-icon2" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span id="users-counter" class="counter">235</span></strong>
                                            <h5>Regular users</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                        </div><!-- Fun Facts -->
              </div>
                </div>
            </section>

        <section>
             <div class="container featured">
                 <div class="row">
                     <h1>Featured Hospitals</h1>
                 </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                          <div class="col">
                            <div class="card h-100">
                              <img src="{% static 'images/blog1.jpg' %}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                              </div>
                            </div>
                          </div>

                        </div>
                </div>

        </section>


         <section>
            <div class="container featured">
                <div class="row text-center">
                    <h1>Top Stories</h1>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                          <div class="col">
                            <div class="card h-100 border-light mb-3">
                              <img src="{% static 'images/blog1.jpg' %}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h2><a href="blog-single.html">We have annnocuced our new product.</a></h2>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <div class="date">22 Aug, 2020</div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-light mb-3">
                              <img src="{% static 'images/blog2.jpg' %}" class="card-img-top" alt="...">
                              <div class="card-body">
                               <h2><a href="blog-single.html">Top five way for solving teeth problems.</a></h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam architecto blanditiis culpa,
                                    ducimus ea </p>
                                  <div class="date">22 Aug, 2020</div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-light mb-3">
                              <img src="{% static 'images/blog3.jpg' %}" class="card-img-top" alt="...">
                              <div class="card-body">
                               <h2><a href="blog-single.html">We provide highly business soliutions.</a></h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam architecto blanditiis culpa,
                                    ducimus ea </p>
                                  <div class="date">22 Aug, 2020</div>
                              </div>
                            </div>
                          </div>

                        </div>
                </div>
        </section>
{% endblock content%}


