{% extends 'website/base.html' %}
{% load static %}
{% block title %}
    	<title>Find Hospitals</title>
    {% endblock title %}


{% block content %}
 <section>
            <div class="block">
                <div class="fixed-bg" style="background-color: #1a76d1;"></div>
                <div class="page-title-wrapper text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="page-title-inner">
                            <h1 itemprop="headline">Register a Hospital</h1>
                                <span>A Great connecting Website</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section>
            <div class="block top-padd30 gray-bg">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="sec-box">
                                <div class="reservation-tabs-wrapper">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 col-lg-3">
                                            <div class="reservation-tabs-list brd-rd5">
                                                  <div class="register-tab nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><a href="#reservation-tab1" data-toggle="tab">
                                                        <span class="brd-rd50">1</span> Information</a></button>
                                                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><a href="#reservation-tab2" data-toggle="tab">
                                                            <span class="brd-rd50">2</span> Select Package
                                                        </a></button>
                                                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><a href="#reservation-tab3" data-toggle="tab"><span class="brd-rd50">3</span> Payment Information</a></button>
                                                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><a href="#reservation-tab4" data-toggle="tab"><span class="brd-rd50">4</span> Activation</a></button>
                                                  </div>

                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-lg-9">
                                            <div class="reservation-tab-content">
                                               <div class="tab-content" id="v-pills-tabContent">
                                                     <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                           <form class="restaurant-info-form brd-rd5" method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <p>
                                                                      {{ form.as_p }}
                                                                    </p>

                                                               <input type="submit" value="Submit">
                                                                </form>


                                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">  <div class="select-package-wrapper">
                                                            <h4 itemprop="headline">BUY MEMBERSHIP</h4>
                                                            <div class="remove-ext3">
                                                                <div class="row mrg10">
                                                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                                                        <div class="packege-box brd-rd5 text-center">
                                                                            <div class="package-header brd-rd5">
                                                                                <h4 itemprop="headline">BASIC FREE</h4>
                                                                                <span class="red-clr">$15.00 / <small>MO</small></span>
                                                                            </div>
                                                                            <ul class="package-body">
                                                                                <li>Membership Duration</li>
                                                                                <li>Hospital Duration</li>
                                                                                <li>Number of Tags</li>
                                                                                <li>Reviews</li>
                                                                                <li>Phone Number</li>
                                                                                <li>Website Link</li>
                                                                            </ul>
                                                                            <a class="brd-rd2" href="#" title="" itemprop="url">SELECT PLAN</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                                                        <div class="packege-box brd-rd5 text-center">
                                                                            <div class="package-header brd-rd5">
                                                                                <h4 itemprop="headline">BASIC FREE</h4>
                                                                                <span class="red-clr">$15.00 / <small>MO</small></span>
                                                                            </div>
                                                                            <ul class="package-body">
                                                                                <li>Membership Duration</li>
                                                                                <li>Hospital Duration</li>
                                                                                <li>Number of Tags</li>
                                                                                <li>Reviews</li>
                                                                                <li>Phone Number</li>
                                                                                <li>Website Link</li>
                                                                            </ul>
                                                                            <a class="brd-rd2" href="#" title="" itemprop="url">SELECT PLAN</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                                                        <div class="packege-box brd-rd5 text-center">
                                                                            <div class="package-header brd-rd5">
                                                                                <h4 itemprop="headline">BASIC FREE</h4>
                                                                                <span class="red-clr">$15.00 / <small>MO</small></span>
                                                                            </div>
                                                                            <ul class="package-body">
                                                                                <li>Membership Duration</li>
                                                                                <li>Hospital Duration</li>
                                                                                <li>Number of Tags</li>
                                                                                <li>Reviews</li>
                                                                                <li>Phone Number</li>
                                                                                <li>Website Link</li>
                                                                            </ul>
                                                                            <a class="brd-rd2" href="#" title="" itemprop="url">SELECT PLAN</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="step-buttons">
                                                                <a class="brd-rd3" href="#" title="" itemprop="url">Back Step</a>
                                                                <a class="brd-rd3 red-bg" href="#" title="" itemprop="url">Next Step</a>
                                                            </div>
                                                        </div></div>
                                                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><form class="restaurant-info-form brd-rd5">
                                                            <div class="row mrg20">
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>First Name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Last Name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Email <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="email">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Phone <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text">
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <label>Address <sup>*</sup></label>
                                                                    <textarea class="brd-rd3"></textarea>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="step-buttons">
                                                                        <a class="brd-rd3" href="#" title="" itemprop="url">Back Step</a>
                                                                        <a class="brd-rd3 red-bg" href="#" title="" itemprop="url">Next Step</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form></div>
                                                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><div class="order-wrapper2 brd-rd5">
                                                            <h4 itemprop="headlie">YOUR ORDER</h4>
                                                            <ul class="ordr-lst brd-rd5">
                                                                <li class="lst-hed">PRODUCT <span>TOTAL</span></li>
                                                                <li>Product X 1 <span>$90.00</span></li>
                                                                <li>Subtotal <span>$90.00</span></li>
                                                                <li>Gov Tax <span>$2.70</span></li>
                                                                <li class="red-bg">Total <span>$92.70</span></li>
                                                            </ul>
                                                            <div class="pay-mnt">
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd1">
                                                                    <label for="mthd1">Direct Bank Transfer</label>
                                                                </span>
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd2">
                                                                    <label for="mthd2">Check payments</label>
                                                                </span>
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd3">
                                                                    <label for="mthd3">Cash on delivery</label>
                                                                </span>
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd4">
                                                                    <label for="mthd4">Paypal <img src="assets/images/pay-mthd-img.jpg" alt="pay-mthd-img.jpg" itemprop="image"></label>
                                                                </span>
                                                            </div>
                                                            <div class="ordr-btn">
                                                                <a class="red-bg brd-rd5" href="#" title="" itemprop="url">Place Order</a>
                                                            </div>
                                                        </div></div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div><!-- Section Box -->
                            </div>
                        </div>
                    </div>

            </div>
            </div>
        </section>

{% endblock content %}
