{% extends 'website/base.html' %}
{% block title %}
    <title>Update Hospital</title>
{% endblock title %}

{% block content %}


    <section>
            <div class="block">
                <div class="fixed-bg" style="background-color: #1a76d1;"></div>
                <div class="page-title-wrapper text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="page-title-inner">
                            <h1 itemprop="headline">Update hospital</h1>

                        </div>
                    </div>
                </div>
            </div>
        </section>
   <section>
    <div class="container">
        <h2>Update Hospital: {{ hospital.name }}</h2>
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</section>
{% endblock content %}
